<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete</title>
</head>
<body>
    <h3>You are about to edit this user : <%= userData.email %></h3>
    <form method="post" action="/user/<%= userData.id %>?_method=DELETE">
        <textarea name="username"><%= userData.username %></textarea> 
        <br/><br/>
        <input type="email" name="email" placeholder="Enter email"/>
        <br/><br/>
        <input type="password" name="password" placeholder="enter your password"/>
        <br/><br/>
        <button>Delete</button>
    </form>
</body>
</html>