<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Delta App</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div class="home_body">
      <h2>Total number of user: <%= user_count %></h2>
      <a href="http://localhost:3000/user/new" class="join_btn"
        >Join us today!</a
      >
      <a href="http://localhost:3000/users">View users</a>
      <a href="http://localhost:3000/image/new">Upload image</a>
    </div>
  </body>
</html>
