<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New User</title>
</head>
<body>
    <h2>
        Add New User details:
    </h2>
    <form method="post" action="/users">
        <label>Enter UserName:</label>
        <input type="text" name="username" placeholder="Enter user name"/>
        <br/><br/>
        <label>Enter Email:</label>
        <input type="email" name="email" placeholder="Enter email"/>
        <br/><br/>
        <label>Enter Password:</label>
        <input type="password" name="password" placeholder="Enter Password"/>
        <br/><br/>
        <button>Submit</button>
    </form>
</body>
</html>