<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chats</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="title_box">
        <a href="http://localhost:3000/chats">
            Get Started with App
        </a>
    </div>
</body>
</html>