<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Post</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <form method="post" action="/posts" class="newpostform">
        <input placeholder="enter username" name="username" class="usernamefield"/>
        <textarea rows="4" placeholder="write your post" name="content" class="contentfield" ></textarea>
        <button class="submitnewform">Submit post</button>
    </form>
</body>
</html>